html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* GENERAL STYLES */

/* * {
    border: 1px solid royalblue;
} */

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    color: #141414;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 1.5px;
    border: 3px solid #fff;
    margin: 20px auto;
    max-width: 45%;
    padding: 10px 30px 10px 30px;
}

h2 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1.5px;
}

h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 25px 0px -5px 0px;
    letter-spacing: 1.5px;
}

h4 {
    font-family: 'Crimson Text', serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
}

body {
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* HEADER STYLES */

header {
    background-image: url("./assets/main-image-1.jpeg");
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* top bar styles STYLES */

.page_top {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.top_bar_nav {
    display: flex;
    margin: 0 auto;
}

.top_nav {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.top_logo_link {
    width: 25%;
    display: inline-block;
    justify-content: left;
} 

.top_bar_nav a {
    text-transform: uppercase;
    color: #fff; 
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.8s ease;
    border: 1px solid transparent;
}

.top_bar_nav a:hover {
    border-bottom: 1px solid #eeb013;
    padding-bottom: 15px;
}

.top_bar_nav li {
    padding: 15px;
}

.top_bar_icons {
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.top_bar_icons i {
    padding: 0 15px;
}

.shopping_cart,
.search {
    color: #fff;
	font-size: 1.3rem;
}

/* headings STYLES */

.page_top_headings {
    margin-top: 15%;
}


.page_top_headings h2 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.discover_link p {
    margin: 60px auto;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding: 10px 30px 10px 30px;
    border: 1px solid #fff;
    max-width: 15%;
    transition: all 0.8s ease;
}

.discover_link p:hover {
    color: #eeb013;
    font-weight: 700;
}

.search_link,
.shopping_link {
    display: none;
}

/* container_new_arrivals styling */

.blanket_scarf {
    background-image: url("./assets/main-image-2.jpeg");
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.text_blanket_scarf {
    position: absolute;
    top: 25%;
    left: 52%;
    display: inline-block;
    text-align: left;
}

.text_blanket_scarf .price_tag {
    color: #eeb013;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.text_blanket_scarf a {
    background-color: #eeb013;
    color: #141414;
    margin-bottom: 25px;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    transition: 0.8s ease all;
    border: 1px solid transparent;
}

.text_blanket_scarf a:hover {
    background-color: #fff;
}

.cropped_shirt {
    background-image: url("./assets/main-image-3.jpeg");
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.text_cropped_shirt {
    position: absolute;
    top: 25%;
    left: 6%;
    display: inline-block;
    text-align: left;
    max-width: 45%;
}

.text_cropped_shirt .price_tag {
    color: #eeb013;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.text_cropped_shirt a {
    background-color: #eeb013;
    color: #141414;
    margin-bottom: 25px;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    transition: 0.8s ease all;
    border: 1px solid transparent;
}

.text_cropped_shirt  a:hover {
    background-color: #fff;
}

/* company_perks styles */

.company_perks {
    margin: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift,
.wand,
.smile {
    font-size: 4rem;
    border: 2px solid #141414;
    padding: 20px;
    border-radius: 50%;
}

.shop_gift,
.free_shipping,
.money_back {
    padding: 35px;
    max-width: 30%;
}

/* gallery styles */

.gallery {
    display: flex;
    margin: 0;
    padding: 0;
}

/* brands styles */

.additional_info {
    margin: 35px;
}

.brands {
    margin: 5px;
}

.our_brands {
    display: inline-block;
    border: 1px solid #e4e4e4;
    padding: 10px 35px 10px 35px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 40px;
}

.brand_logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.brand_logos img {
    margin: 0 30px;
}


/* lookbook styles */

.container_lookbook {
    background-image: url("./assets/main-image-4.jpeg");
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.lookbook_text {
    position: absolute;
    top: 30%;
    left: 6%;
    display: inline-block;
    text-align: center;
    max-width: 45%;
}

.lookbook_text h4 {
    line-height: 20px;
}

.lookbook_text a {
    background-color: #141414;
    color: #e4e4e4;
    margin: 25px;
    padding: 15px 35px 15px 35px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    transition: 0.8s ease all;
    border: 1px solid transparent;
}

.lookbook_text a:hover {
    background-color: #eeb013;
    color: #141414;
}

/* footer styles */

footer {
    background-color: #141414;
    text-align: left;
    padding-top: 35px;
    padding-bottom: 5px;
}

footer p {
    color: #5c5c5c;
}

footer a {
    color: #5c5c5c;
}

.container_name {
    padding-bottom: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.underline {
    transition: all 0.5s;
    border: 1px solid transparent;
}

.underline:hover {
    border-bottom: 1px solid #eeb013;
    padding-bottom: 5px;
}

.footer_elements {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.creative_agency {
    max-width: 25%;
}

.mini_header {
    color: #eeb013;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.creative_agency .dummy_text {
    margin-bottom: 10px;
    line-height: 2rem;
}

.creative_agency img {
    margin-bottom: 50px;
    margin-top: 10px;
}

.footer_links {
    border-left: 1px solid #5c5c5c;
    padding-left: 40px;
    height: 100%;
}

.footer_links nav li {
    margin-bottom: 10px;
    line-height: 2rem;
}

.footer_links nav li a {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_links nav a {
    transition: 0.8s ease all;
}


.footer_links nav a:hover {
    color: #eeb013;
}

.instagram_container {
    height: 25%;
    width: 34%;
    border-left: 1px solid #5c5c5c;
    padding-left: 40px;
}

.images_instagram {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.images_instagram a {
    width: 30%;
    margin: 0.5rem;
}

.images_instagram img {
    width: 100%;
}

.other_footer_elements .dummy_text {
    margin-bottom: 10px;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* Media Queries styles */

@media only screen and (min-width: 400px) and (max-width: 1085px) {
    .discover_link p {
        max-width: 45%;
        padding: 10px;
        font-size: 2rem;
        font-weight: 600;
        margin: 10px auto;
    }
}


@media only screen and (min-width: 922px) and (max-width: 970px) {
    .top_bar_icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .shopping_cart,
    .search {
        color: #fff;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 400px) and (max-width: 922px) {
    .top_bar_icons {
        display: none;
    }

    .search_link p,
    .shopping_link p {
        text-transform: uppercase;
        margin: 10px auto;
        color: #fff;
        letter-spacing: 1.5px;
        border: 1px solid #fff;
        min-width: 45%;
        padding: 10px;
        font-size: 1em;
        font-weight: 500;
    }

    .search_link,
    .shopping_link {
        display: flex;
        flex-direction: row;
        /* max-width: 45%;
        padding: 10px;
        font-size: 2rem;
        font-weight: 600; */
        
    }
}

@media only screen and (min-width: 400px) and (max-width: 755px) {
    .page_top {
        display: flex;
        flex-direction: column;
    }

    .top_logo_link {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .top_nav {
        margin-left: 0;
    }

    .top_bar_nav {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    
    .top_bar_nav a {
        text-transform: uppercase;
        color: #fff; 
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        transition: all 0.8s ease;
        border: 2px solid transparent;
    }
    
    .top_bar_nav a:hover {
        border-bottom: 2px solid #eeb013;
        padding-bottom: 15px;
    }

    .brand_logos {
        flex-wrap: wrap;
    }
    
    .brand_logos img {
        margin: 10px 15px;
    }

    .instagram_container {
        display: none;
    }

    .creative_agency {
        max-width: 60%;
    }

}

@media only screen and (min-width: 400px) and (max-width: 690px) {
    .page_top_headings h1 {
        max-width: 100%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 535px) {
    h1,
    h2,
    h3,
    h4 {
        letter-spacing: 0;
    }

    .company_perks {
        margin: 0;
    }
}

@media only screen and (min-width: 400px) and (max-width: 485px) {
    h2 {
        font-size: 2rem;
    }

    .top_bar_nav li {
        padding: 5px;
    }

    .discover_link p {
        font-size: 1.6rem;
    }

    .company_perks {
        flex-direction: column;
        margin-top: 10px;
    }

    .shop_gift, 
    .free_shipping, 
    .money_back {
        padding: 35px;
        max-width: 45%;
    }
}